.main {
    display: flex;
    width: 210px;
    height: auto;
    margin-top: 14px;
}

.main div {
    display: flex;
}

.main div:hover {
    cursor: pointer;
}

.main div:hover .radio {
    background-color: rgba(243, 243, 243, 0.589);
}

.favButton {
    margin-left: 10px;
}

.radio {
    height: 20px;
    width: 20px;
    margin-top: 6px;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}

.main p {
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
}

.radio:hover,
.main p:hover {
    cursor: pointer;
}

.selected {
    height: 10px;
    width: 10px;
    margin: 5px 5px;
    border-radius: 2.5px;
    background-color: rgb(200, 200, 200);
}