.main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}

.main h1 {
    margin: 0;
    width: 366px;
    height: 40px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 20px;
    overflow: hidden;
}

.favoriteButton,
.editButton,
.deleteButton,
.unfavoriteButton {
    width: 60px;
    height: 60px;
    margin: 20px 20px 0px 0px;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 30px;
}

.favoriteButton:hover,
.editButton:hover,
.deleteButton:hover,
.unfavoriteButton:hover {
    cursor: pointer;
    outline: 2px solid rgb(85, 85, 85);
}


.favoriteButton {
    background-image: url(../../../images/icons/light/favorite-button-empty.png)
}

.unfavoriteButton {
    background-image: url(../../../images/icons/light/favorite-button.png)
}

.editButton {
    background-image: url(../../../images/icons/light/edit-button.png)
}

.deleteButton {
    background-image: url(../../../images/icons/light/delete-button.png)
}


.main p {
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 500px;
    height: 460px;
    margin: 0;
    margin-top: 40px;
    margin-right: 46px;
    font-family: "custom";
    font-size: 20px;
}