.main {
    height: 473px;
    width: 205px;
}

.noteItem {
    display: flex;
    position: relative;
    width: 205px;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

.noteItem:hover {
    outline: 2px solid rgb(85, 85, 85);
    cursor: pointer;
}

.noteItem:hover>.deleteBox img {
    display: block
}

.favoriteBox {
    width: 40px;
    height: 40px;
}

.favoriteBox img {
    margin-left: 10px;
}

.titleBox {
    width: 125px;
    height: 40px;
}

.titleBox p {
    font-family: Georgia, serif;
    font-size: 20px;
    margin: 0;
    margin-top: 7px;
}

.deleteBox img {
    position: absolute;
    right: 0;
    top: 10px;
    right: 10px;
    display: none
}

.deleteBox img:hover {
    opacity: 0.2;
}