.main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 473px;
    width: 225px;
    overflow-y: auto;
    overflow: overlay
}

.main::-webkit-scrollbar {
    margin-left: 10px;
    width: 2px;
}

.main::-webkit-scrollbar-track {
    background-color: #5a5a5a;
}

.main::-webkit-scrollbar-thumb {
    background: silver;
}

.noteItem {
    display: flex;
    position: relative;
    width: 205px;
    height: 40px;
    margin-top: 20px;
    background-color: #7a7a7a;
    border-radius: 5px;
}

.currentNote {
    outline: 2px solid silver;
}

.noteItem:hover {
    outline: 2px solid silver;
    cursor: pointer;
}

.noteItem:hover>button {
    display: block
}

.favoriteBox {
    width: 40px;
    height: 40px;
}

.favoriteBox img {
    margin-left: 10px;
}


.noteItem p {
    width: 125px;
    height: auto;
    font-family: 'custom';
    font-size: 20px;
    margin: 0;
    margin-top: 7px;
    color: #fff;
    overflow: hidden;
}

.noteItem button {
    height: 20px;
    width: 20px;
    margin: 10px 0px 0px 10px;
    border: none;
    display: none;
    background-color: #7a7a7a;
    background-image: url(../../../images/icons/light/delete.png);
}

.noteItem button:hover {
    cursor: pointer;
    opacity: 0.2;
}