.main {
    height: 473px;
    width: 205px;
}

.noteItem {
    display: flex;
    position: relative;
    width: 205px;
    height: 40px;
    margin-top: 20px;
    background-color: #7a7a7a;
    border-radius: 5px;
}
  
.currentNote {
    outline: 2px solid silver;
}

.noteItem:hover {
    outline: 2px solid silver;
    cursor: pointer;
}

.noteItem:hover>button {
    display: block
}

.favoriteBox {
    width: 40px;
    height: 40px;
}

.favoriteBox img {
    margin-left: 10px;
}


.noteItem p {
    width: 125px;
    height: auto;
    font-family: 'custom';
    font-size: 20px;
    margin: 0;
    margin-top: 7px;
    color: #fff;
}

.noteItem button {
    height: 20px;
    width: 20px;
    margin: 10px 0px 0px 10px;
    border: none;
    display: none;
    background-color: #7a7a7a;
    background-image: url(../../../images/icons/light/delete.png);
}

.noteItem button:hover {
    cursor: pointer;
    opacity: 0.2;
}