.App {
    width: max-content;
    height: 700px;
    margin: 0 auto;
    margin-top: 100px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "custom";
    src: url("../fonts/ofont.ru_Hero.ttf");
}