.main button {
    position: absolute;
    bottom: 40px;
    right: 95px;
    height: 60px;
    width: 60px;
    background-color: #7a7a7a;
    background-image: url(../../../images/icons/dark/add.png);
    border-radius: 30px;
    border: none;
}

.main button:hover {
    cursor: pointer;
    outline: 2px solid silver;
}